<%- include("partials/header.ejs"); %>


  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Position</th>
      <th scope="col">Division</th>
      <th scope="col">Department</th>
      <!-- <th scope="col">Date Regularized</th>
      <th scope="col">Length of Service</th> -->
    </tr>
  </thead>
  <tbody>
    <% infos.forEach(function(info){ %>
      <tr>
        <td scope="row"><%= info.name %></td>
        <td><%= info.email %></td>
        <td><%= info.position %></td>
        <td><%= info.division %></td>
        <td><%= info.department %></td>
      </tr>
  <%  }); %>

  </tbody>
</table>


<%- include("partials/footer.ejs"); %>
